
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3 col-md-3"></div>
            <div class="col-sm-6 col-md-6">
                <mat-card class="full-width-center rounded-borders" [class.mat-elevation-z8]="true">
                    <mat-card-title>Login</mat-card-title>
                    <mat-card-subtitle>Please log in to the application to get started.</mat-card-subtitle>
                <mat-card-content>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <p>
                            <mat-form-field appearance="fill" class="full-width rounded-borders">
                                <mat-label>Username/Email</mat-label>
                                <input matInput placeholder="Enter a valid username" formControlName="username">
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Enter your password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                              </mat-form-field>
                        </p>
                        

                        <div class="example-button-container full-width">
                            <button mat-raised-button>Login</button>
                        </div>
                      </form>
                </mat-card-content>
            </mat-card>
            </div>
            <div class="col-sm-3 col-md-3"></div>
        </div>
    </div>
</div>